:root {
  --principal: #19183b;
  --secundario: #708993;
  --complementario: #a1c2bd;
  --fondo: #e7f2ef;
}

.home-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.home-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-body-home {
  height: 150px;
}

.separator-text {
  color: var(--principal);
  font-weight: bold;
  text-align: center;
}

.hero-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}

.slide-image img {
  width: 55%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.slide-text {
  width: 45%;
  padding: 1rem 2rem;
  text-align: justify;
}

.slide-text p {
  text-decoration: none;
  margin: 0.5rem 0;
}

.mini-cards-wrapper {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 10;
}

.mini-card {
  width: 150px;
  height: 60px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mini-card-body {
  position: relative;
  z-index: 2;
  background: transparent;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 9px;
  width: 0;
  background-color: var(--principal) !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 9999;
  pointer-events: none;
  display: block;
  opacity: 1;
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .card-body-home {
    height: 140px;
  }
  .mini-card {
    display: none;
    width: 125px;
    height: 60px;
  }

  .mini-cards-wrapper {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .mini-card {
    display: none;
  }
  .slide-content {
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
  }
  .slide-image img,
  .slide-text {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .card-body-home {
    height: 205px;
  }
}
